<!-- index.hbs -->

{{!
🔔 Citation for the following code:
---- Date: 3/14/2025
---- Adapted from W3School: https://www.w3schools.com/howto/howto_js_topnav.asp
}}
<div class="topnav"> 
  <a href="/">Home Page</a>
  <a href="events">Events</a>
  <a href="organizers">Organizers</a>
  <a href="ticketbuyers">Ticket Buyers</a>
  <a href="ticketssold">Tickets</a>
</div> 

<h1>Home Page</h1>

<h2>Welcome to Fairview Palladuim's Database</h2>
<p>What would you like to do?</p>
<ul>
    <li>Browse, add, delete, or update our list of <a href="events">Events</a></li>
    <li>Add, update, or delete from our list of <a href="organizers">Organizers</a></li>
    <li>Add or delete from our list of <a href="ticketbuyers">Ticket Buyers</a></li>
    <li>Add or delete from our list of <a href="ticketssold">Tickets Sold</a></li>
</ul>